# .gitignore
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.db
*.sqlite3
.DS_Store
.idea/
.vscode/
env/
azure.json
# Ignore autoheal reports only
reports/
*_autoheal.md
code/buggy_script.py
code/correct_script.py